.cards {
    margin: 10px;
    padding: 5px;
    border: 1px solid white;
    height: 320px;
    width: 390px;
    /* inline block is always unreliable */
    /* display: inline-block; */
    /* instead use float */
    float: left;
    text-align: center;
}

.cards img {
    height: 150px;
    width: 150px;
    opacity: 0.85;
}

.cards img:hover {
    opacity: 1.0;
}

.cards h3 {
    text-transform: uppercase;
}

.cards h3, .cards p {
    margin: 0;
    padding: 10px;
}
